[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
agate = "==1.6.1"
agate-dbf = "==0.2.0"
agate-excel = "==0.2.2"
agate-sql = "==0.5.3"
amqp = "==2.3.2"
awesome-slugify = "==1.6.5"
billiard = "==3.5.0.4"
bitarray = "==0.8.3"
blessings = "==1.7"
cachetools = "==3.0.0"
cchardet = "==2.1.4"
celery = "==4.2.1"
certifi = "==2018.10.15"
chardet = "==3.0.4"
click = "==7.0"
csvkit = "==1.0.3"
dataflows = "==0.0.32"
datapackage = "==1.5.1"
datapackage-pipelines = "==2.0.0"
dbfread = "==2.0.7"
flask-basicauth = "==0.2.0"
future = "==0.17.1"
idna = "==2.7"
ijson = "==2.3"
inquirer = "==2.5.1"
isodate = "==0.6.0"
itsdangerous = "==1.1.0"
jdcal = "==1.4"
jsonlines = "==1.2.0"
jsonpointer = "==1.14"
jsonschema = "==2.6.0"
kombu = "==4.2.1"
kvfile = "==0.0.6"
leather = "==0.3.3"
linear-tsv = "==1.1.0"
mistune = "==0.8.4"
openpyxl = "==2.4.11"
parsedatetime = "==2.4"
python-dateutil = "==2.7.5"
pytimeparse = "==1.1.8"
pytz = "==2018.7"
readchar = "==2.0.1"
redis = "==2.10.6"
regex = "==2018.11.6"
requests = "==2.20.0"
rfc3986 = "==1.1.0"
six = "==1.11.0"
tableschema = "==1.2.5"
tableschema-sql = "==0.10.4"
tabulate = "==0.8.2"
tabulator = "==1.19.0"
ujson = "==1.35"
unicodecsv = "==0.14.1"
urllib3 = "==1.24.1"
vine = "==1.1.4"
xlrd = "==1.1.0"
Babel = "==2.6.0"
et_xmlfile = "==1.0.1"
Flask = "==0.12.4"
Flask-Cors = "==3.0.9"
Flask-Jsonpify = "==1.5.0"
Jinja2 = "==2.10"
MarkupSafe = "==1.1.0"
pybloom_live = "==2.3.2"
PyYAML = "==3.13"
SQLAlchemy = "==1.2.13"
Unidecode = "==0.4.21"
Werkzeug = "==0.14.1"

[requires]
python_version = "3.8"
